.header {
    background-color: #0d2f52;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Change to column layout on smaller screens */
    align-items: center;
    text-align: center;
  }
  
  .header-logo {
    height: 80px;
    width: auto;
    margin-bottom: 10px; /* Add margin for separation */
  }
  
  .search-container {
    margin-right: 0;
    margin-bottom: 10px; /* Add margin for separation */
  }
  
  .search-input {
    padding: 10px;
    font-size: 1em;
  }
  
  .filters-container {
    display: flex;
    flex-direction: column; /* Change to column layout on smaller screens */
    align-items: center;
  }
  
  .filters-container select {
    margin-bottom: 10px; /* Add margin for separation between selects */
  }
  